# Crontab de pagestreamer

# Commandes de scheduler
55 20 * * 4-7 DISPLAY=:99 XAUTHORITY=/tmp/xvfb_ubuntu/xauth LIBGL_ALWAYS_SOFTWARE=1 /home/ubuntu/.pagestreamer/pagestreamer start >> /home/ubuntu/.pagestreamer/logs/cron.log 2>&1
30 03 * * 5,6,7,1 /home/ubuntu/.pagestreamer/pagestreamer stop >> /home/ubuntu/.pagestreamer/logs/cron.log 2>&1

# Monitoring a fix
#*/15 * * * * bash /home/ubuntu/.pagestreamer/scripts/monitor_stream.sh >> /home/ubuntu/.pagestreamer/logs/monitor.log 2>&1
